<h1>{{naslov}}</h1>
<h4>Avtomobili, ki so na voljo:</h4>
<ul class="list-group">
    {{#each avtomobili}}
        <li class="list-group-item">
            {{this.model}}, {{this.znamka}}, {{this.letnik}}, {{this.cena}}€
        </li>
    {{/each}}
</ul>
<a name="nov" id="nov" class="btn btn-primary" href="/nov" role="button">Dodaj nov avto</a>