<h1>{{naslov}}</h1>

<form action="/api/avtomobili" method="post">
    <div class="form-group">
      <label for="znamka">Znamka</label>
      <input type="text"
        class="form-control" name="znamka" id="znamka" aria-describedby="helpId" placeholder="">
    </div>

    <div class="form-group">
      <label for="model">Model</label>
      <input type="text"
        class="form-control" name="model" id="model" aria-describedby="helpId" placeholder="">
    </div>

    <div class="form-group">
      <label for="letnik">Letnik</label>
      <input type="text"
        class="form-control" name="letnik" id="letnik" aria-describedby="helpId" placeholder="">
    </div>

    <div class="form-group">
      <label for="cena">Cena</label>
      <input type="text"
        class="form-control" name="cena" id="cena" aria-describedby="helpId" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>

<a name="index" id="index" class="btn btn-light" href="/" role="button">Nazaj</a>